<div class="container">
  	<div class="jumbotron text-center">
	    <h2>Logged in as <%= username %></h2>
  	</div>
  	<a href="/sessions/logout" class="btn btn-default">Logout</a>
  	<a href="/notes" class="btn btn-default">Notes</a>
</div>