<div class="container">

	<h3>New Note</h3>

	<form method="post" action="/notes">
	  <input type="hidden", name="_csrf", value=<%=csrf%>></input>
	  <input type="text" placeholder="Title" name="title"></input>
	  <br>
	  <textarea placeholder="Write your new note post here" cols="60" rows="20" id="new-post" name="text"></textarea>
	  <br>
	  <input type="submit" value="Submit">
	</form>

	<script>
		var csrf = "<%=csrf%>";
	</script>
</div>