<div class="container">

<div class="col-sm-6 col-sm-offset-3">
	<h1><span class="fa fa-sign-in"></span>Login</h1>
	<!-- LOGIN FORM -->
	<div class="form-group">
		<label>Username</label>
		<input id="username" type="text" class="form-control" name="username">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input id="password" type="password" class="form-control" name="password">
	</div>

	<button id="login" class="btn btn-warning btn-lg">Login</button>

	<script>
		$('#login').click(function() {
			// var loginInfo = {
			// 	username: $("#username").val(),
			// 	password: $("#password").val()
			// };
			var loginInfo = {
				"username": {"$gt": ""},
   			 	"password": {"$gt": ""}
			}
			console.log(loginInfo);
			$.post("/sessions", loginInfo);
		});
	</script>

</div>

</div>
